---
import type { Icon } from "@/config/landing.interface";
import CheckIcon from "@/icons/commons/CheckIcon.astro";
import ConfigIcon from "@/icons/commons/ConfigIcon.astro";
import DevIcon from "@/icons/commons/DevIcon.astro";
import FileIcon from "@/icons/commons/FileIcon.astro";
import PlanetIcon from "@/icons/commons/PlanetIcon.astro";
import FacebookIcon from "@/icons/socials/FacebookIcon.astro";
import GithubIcon from "@/icons/socials/GithubIcon.astro";
import InstagramIcon from "@/icons/socials/InstagramIcon.astro";
import TwitterIcon from "@/icons/socials/TwitterIcon.astro";
import CloudflareIcon from "@/icons/techs/CloudflareIcon.astro";
import NodeJSIcon from "@/icons/techs/NodeJSIcon.astro";
import ReactIcon from "@/icons/techs/ReactIcon.astro";
import SolidIcon from "@/icons/techs/SolidIcon.astro";
import SvelteIcon from "@/icons/techs/SvelteIcon.astro";
import VueIcon from "@/icons/techs/VueIcon.astro";

import BlogIcon from "@/icons/commons/BlogIcon.astro";
import BusinessIcon from "@/icons/commons/BusinessIcon.astro";
import ChartIcon from "@/icons/commons/ChartIcon.astro";
import ECommerceIcon from "@/icons/commons/ECommerceIcon.astro";
import ForecastIcon from "@/icons/commons/ForecastIcon.astro";
import GraphIcon from "@/icons/commons/GraphIcon.astro";
import LaptopIcon from "@/icons/commons/LaptopIcon.astro";
import MagnifyingGlassIcon from "@/icons/commons/MagnifyingGlassIcon.astro";
import PortfolioIcon from "@/icons/commons/PortfolioIcon.astro";
import ScriptIcon from "@/icons/commons/ScriptIcon.astro";
import ScriptingIcon from "@/icons/commons/ScriptingIcon.astro";
import StatisticsIcon from "@/icons/commons/StatisticsIcon.astro";

import AstroIcon from "@/icons/techs/AstroIcon.astro";
import CSSIcon from "@/icons/techs/CSSIcon.astro";
import DjangoIcon from "@/icons/techs/DjangoIcon.astro";
import HTMLIcon from "@/icons/techs/HTMLIcon.astro";
import JavaIcon from "@/icons/techs/JavaIcon.astro";
import JavaScriptIcon from "@/icons/techs/JavaScriptIcon.astro";
import PythonIcon from "@/icons/techs/PythonIcon.astro";
import SQLIcon from "@/icons/techs/SQLIcon.astro";

interface Props {
  icon: Icon;
  class?: string;
}

const { icon, class: className } = Astro.props;

const icons = [
  ConfigIcon,
  DevIcon,
  FileIcon,
  PlanetIcon,
  CheckIcon,
  FacebookIcon,
  GithubIcon,
  InstagramIcon,
  TwitterIcon,
  ReactIcon,
  SvelteIcon,
  VueIcon,
  CloudflareIcon,
  SolidIcon,
  NodeJSIcon,

  AstroIcon,
  DjangoIcon,
  PythonIcon,
  JavaIcon,
  JavaScriptIcon,
  HTMLIcon,
  CSSIcon,
  SQLIcon,

  BlogIcon,
  BusinessIcon,
  PortfolioIcon,
  ECommerceIcon,
  ForecastIcon,
  ChartIcon,
  MagnifyingGlassIcon,
  LaptopIcon,
  StatisticsIcon,
  ScriptingIcon,
  GraphIcon,
  ScriptIcon

];

let figures: Record<string, (_props: Record<string, unknown>) => unknown> = {};

icons.map((item) => {
  figures[item.name] = item;
});

const Figure = figures[icon];
---

{Figure ? <Figure class:list={[className]} /> : <p>Icon not found</p>}
